<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <h1>Error Page</h1>
    <p>
        <%= error.message %>
    </p>
    <p>Status code: <%= error.status %>
    </p>
    <% if (process.env.NODE_ENV==='development' && error.stack) { %>
        <pre><%= error.stack %></pre>
        <% } %>
            <p>We're sorry, but an error has occurred.</p>
</body>

</html>